<!DOCTYPE html>

<html>

	<head>
		
		<title> Ronin Badge Challenge</title>
		
		<link type="text/css" rel="stylesheet" href="normalise.css"/>
		<link type="text/css" rel="stylesheet" href="mystyle.css"/>
		
	</head>

	<body>

		<div class="header">
			<ul>
				<li>Sign Up</li>
				<li>Log In</li>
			</ul>
		</div>

		<h1> Classic Rock, Paper, Scissors </h1>
		
		<form id="form" action="/new_game" method="post">
			<input type="text" name="name" placeholder="Please enter your name">
			<input type="hidden" value="submit">
		</form>
		
	</body>
	
	<footer>
			
		<img id="logo" src="images/CAWlogo.png" width="50" height="50"/>
			
	</footer>


</html>