<!DOCTYPE html>

<html>

	<head>
		
		<title> Ronin Badge Challenge</title>
		
		<link type="text/css" rel="stylesheet" href="normalise.css"/>
		<link type="text/css" rel="stylesheet" href="mystyle.css"/>
		
	</head>

	<body>

		<h1> Classic Rock, Paper, Scissors </h1>

		<h3> Ok, <%= @name %>, Please choose your item! </h3>

		<section id="icons">
			<a id="rock_button" href="/win"><img id="rock" src="images/rock.png"/></a>
			<a href="/lose"><img id="paper" src="images/paper.png"/></a>
			<a href="/calculate"><img id="scissors" src="images/scissors.png"/></a>
		</section>	
		
	</body>
	
	<footer>
			
		<img id="logo" src="images/CAWlogo.png" width="100" height="100"/>
			
	</footer>


</html>