<!DOCTYPE html>

<html>

	<head>
		
		<title> Ronin Badge Challenge </title>
		
		<link type="text/css" rel="stylesheet" href="normalise.css"/>
		<link type="text/css" rel="stylesheet" href="win.css"/>
		
	</head>

	<body>

			<p> Well done! Computer chose <%= $comp_choice %> :) </p>

			<a id="again" href="/play_again"><div id="box">Play Again?</div><a/>

	</body>
	
	<footer>
			
		<img id="logo" src="images/CAWlogo.png" width="50" height="50"/>
			
	</footer>


</html>