html, body {
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1ab8e5;
  margin-top: 10em;
}

#icons {
  margin: auto;
  height: 200px;
  width: 1000px;
  top: 0; left: 0; bottom: 0; right: 0;
}

#icons img {
	height: 100px;
	width: 100px;
	border-radius: 10%;
	opacity: .5;
	transition: background .75s ease;
}

#icons img:hover {
  background-color:rgba(255,255,255,0.2);
  opacity: 1;
}